.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
resources
Thumbs.db
public
texto en ingles sobre los mapas conceptuales
datos/blog.csv
datos/eventos.R
datos/leer_blog_post.R
datos/publicaciones.R
content/blog/2022_tutorials_series/02-tutorials/call.txt
